---
import Links from './Links.astro'
import Techs from './Techs.astro'
import Screenshot from './Screenshot.astro'
import type { ProjectType } from '../types'

interface Props {
  project: ProjectType
}

const { project }: Props = Astro.props
---

<article>
  <div>
    <Screenshot
      screenshot={project.screenshot}
      altText={`Captura de pantalla del proyecto ${project.title}`}
    />
  </div>
  <div class='info'>
    <h4>{project.title}</h4>
    <p>{project.description}</p>
    <Techs built={project.built} />
    <Links links={project.links} />
  </div>
</article>

<style>
  article {
    display: grid;
    grid-template-rows: min-content 1fr;
    background-color: var(--alt-background-color);
    border-radius: var(--border-radius);
    overflow: hidden;
    border: var(--bordered) var(--border-color);
  }
  h4 {
    margin: var(--gap) 0 0;
    color: var(--main-color);
    font-size: 1.25em;
  }

  p {
    font-size: var(--font-size-small);
    opacity: var(--opacity);
  }

  .info {
    display: grid;
    grid-template-rows: min-content 1fr min-content min-content;
    padding: 0 var(--gap);
  }
</style>
